<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<footer th:fragment="footer">
    <nav class="navbar navbar-fixed-bottom" role="navigation">
        <div class="container" style="margin-top: 15px">
            <span class="pull-left">APP V1.0.0</span>
            <span class="pull-right"><a id="link" href="mailto:jocelyn.ntakpe@sopragroup.com">
                <i class="glyphicon glyphicon-envelope"></i> Contact</a>
            </span>
        </div>
    </nav>
</footer>

</body>
</html>